$primary-color: black;
$primary-text: white;
$secondary-color: rebeccapurple;
$secondary-color-hover: lighten($secondary-color, 8%);
$error-color: red;
$secondary-text: white;
$modalBackgroundColor: #f5deb3; 
$brandingFont: "Romanesco";
$contentFont: "Roboto";

$appBorderRadius: 10px;

h1,h2,h3 { font-family: "Roboto"; font-weight: 300 !important;  }

* { outline: none !important; }

.csNavBar {
  background: $primary-color;
  color: $primary-text;
  padding: 10px;
  margin-bottom: 10px !important;
  .csLeftBox {
    font-family: $brandingFont;
    font-size: 28px;
    .csBranding {
      color: $primary-text;
      &:hover {
        color: $primary-text;
        text-decoration: none;
      }
    }
  }
  .csRightBox {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    button {
      color: $primary-text !important;
      display: inline-block;
      padding: 12px 16px;
      border: 0;
      border-radius: $appBorderRadius;
      background-color: transparent;
      transition: 0.2s ease-out;
      &:hover {
        background-color: $primary-text;
        color: $primary-color !important;
        transition: 0.2s ease-in;
      }
    }
  }
  .csCustomToggleLink {
    color: darken(white, 20%);
    display: flex;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .csNavProfileInfo {
    display: inline-flex;
    img {
      height: 40px;
    }
    .csNavProfileName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
    }
  }
}

.modal-header {
  display: initial !important;
  border-bottom: 0;
}

.modal-content {
    background-color: white;
    padding: 12px;
    border: 0 !important;
    border-radius: $appBorderRadius !important;
    .csHeaderBranding {
      font-family: $brandingFont !important;
      text-align: center;
    }
    .csHeaderTitle {
      text-align: left;
      padding: 15px 0 0 0;
      padding-left: 0px;
      cursor: default;
      font-size: 16px;
      opacity: 0.69;
      font-weight: 700;
      padding-left: 5px;
      margin-bottom: -5px;

    }
}
.modal-header .close {
  position: absolute;
  top: 45px !important;
  right: 45px !important;
  padding: 4px 9px !important;
  background: $secondary-color !important;
  color: white !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  transition: 0.2s ease-out ;
  &:hover {
    background: $secondary-color-hover !important;
    transition: 0.2s ease-in ;
    transform: scale(1.05);
  }
}

.csInput {
  padding: 12px;
  width: 100%;
  margin: 8px 0;
  border: 0;
  border-radius: $appBorderRadius;
  outline: none;
}

.csText {
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  transition: 0.2s ease-out;
  &:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in;
  }
  
  &::placeholder {
    text-align: center;
  }
}

.csModal {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(40px) !important;
}

.csButton {
  background-color: $secondary-color;
  color: $secondary-text;
  transition: 0.2s ease-out;
  &:hover {
    background-color: $secondary-color-hover;
    transition: 0.2s ease-in;
  }
}

.csFormError {
  padding: 10px;
  margin: 0 !important;
  border-radius: $appBorderRadius !important;
}

// Post Card

.csCardLink {
  display: block;
  color: black !important;
  transition: 0.2s ease-out;
  &:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: 0.2s ease-in;
  }
}

.csPostCard {
  margin: 10px 0;
  .csPostDate {
    font-weight: bold;
    color: gray;
    margin: 15px 0;
  }
  .csPostExcerpt {
    color: gray;
  }
  .csPostImage {
    border-radius: $appBorderRadius;

  }
  .csPostUserInfoContainer {
    display: flex;
    .csPostUserInfoProfilePic {
      height: 65px;
    }
    .csPostUserInfo {
      display: flex;
      padding-left: 15px;
      justify-content: center;
      flex-direction: column;
      p {
        margin: 0;
      }
      .csPostUserInfoName {
        font-size: 17px;
      }
      .csPostUserInfoRole {
        font-size: 13px;
        font-weight: bold;
        color: grey;
      }
    }
  }
}

.csPostEditorWrapper {
  height: 500px!important;
}

// Posts
.csPostsButton {
  border-radius: $appBorderRadius;
  padding: 8px 20px;
  border: 0;
}

.csMyPostLink {
  display: block;
  color: black;
  transition: 0.2s ease-out;
  &:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.02);
    transition: 0.2s ease-in;
  }
}
.csMyPostCard {
  p {
    margin-bottom: 0;
  }
  .csPostDate {
    font-weight: bold;
    color: gray;
    margin-top: 5px;
  }
  img {
    border-radius: $appBorderRadius;
  }
  margin: 10px 0;
  .csMPCDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.csSinglePostPage {
  img {
    border-radius: $appBorderRadius;
    width: 100%;
  }
  .csPostDate {
    font-weight: bold;
    color: gray;
    margin: 20px 0;
  }
  .csPostCard {
    margin-top: 0 !important;
    .csPostDate {
      margin: 5px 0;
    }
    .csPostTitle {
      font-size: 22px;
    }
    .csPostUserInfoContainer {
      display: none;
    }
  }
}

.csLoader {
  .modal-dialog {
    width: min-content !important;
  }
  .modal-body {
    padding: 4px !important;
  }
}

// Editor

.editorWrapper {
  margin-bottom: 60px;
  border: 1px solid #e9e9e9;
  border-radius: $appBorderRadius;
  .editorContentArea {
    margin: 11px;
    min-height: 450px !important;
  }
}